@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --box-shadow-button-login: inset 0 1px 0 #FFE5C4, 0 10px 0 #108a3e;
  --filter-button-login: drop-shadow(color=#000, offx=0px, offy=1px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

body {
  color: var(--foreground);
  background-color: rgb(240, 248, 239);
  font-family: Arial, Helvetica, sans-serif;
}
