.inputField {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #f1f1f1;
    outline-width: 1px;
    outline-color: #108a3e;
}

.containerInput {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.errorMessage {
    color: red;
}

.containerButton {
    position: relative;
    display: inline-block;
}

.containerButton::after {
    content: "";
    height: 100%;
    width: 100%;
    padding: 4px;
    position: absolute;
    bottom: -15px;
    left: -4px;
    z-index: -1;
    background-color: #2b1800;
    border-radius: 5px;
}

.button {
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    width: 100%;
    text-decoration: none;
    background-color: #19e066;
    display: block;
    position: relative;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #108a3e;
}

.button:active {
    top: 10px;
    background-color: #19e066;
    box-shadow: none;
}