
.addButton {
    /* margin-bottom: 15px; */
    margin-top: 2%;
    padding: 10px;
    background: rgb(127, 203, 127);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transform: translateX(215%);
}

.tableCell {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.paginationButton {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}