.containerAll {
    color: #404040;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* background-color: brown; */
    background-image: url(/assets/bg-login.webp);
    background-size: cover;
    background-position: 50%;
    padding: 20px;
}

.containerTitle {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title {
    font-size: 24px;
}

.form {
    padding: 50px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.bar {
    background-color: #19E066;
    height: 5px;
    width: 210px;
}

.campoInput {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.remember {
    display: flex;
    gap: 5px;
}

.button {
    position: relative;
    display: inline-block;
}

.button a {
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    background-color: #19E066;
    display: block;
    position: relative;
    padding: 10px 0;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);

    -webkit-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #108a3e;
    -moz-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #108a3e;
    box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #108a3e;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.button a:active {
    top: 10px;
    background-color: #19E066;

    -webkit-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #108a3e;
    -moz-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #108a3e;
    box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #108a3e;
}

.button:after {
    content: "";
    height: 100%;
    width: 100%;
    padding: 4px;
    position: absolute;
    bottom: -15px;
    left: -4px;
    z-index: -1;
    background-color: #2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.inputField {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #f1f1f1;
}

.link {
    color: rgb(0, 179, 12);
    font-weight: 500;
}

.paragraf{
    text-align: center;
}